:root {
    --white: #fff;
    --text-color: #333;

    --link-color: #007bff;

    --primary: #6ba0ff;
    --primary-dark: #0069d9;
    --primary-shadow: rgba(38, 143, 255, .5);

    --secondary: #6c757d;
    --secondary-dark: #5a6268;
    --secondary-shadow: rgba(130, 138, 145, .5);

    --red: #d74b58;
    --red-dark: #d90c1f;
    --red-shadow: rgba(220, 39, 56, .5);

    --green: #3ea656;
    --green-dark: #2ac04c;
    --green-shadow: rgba(40, 167, 55, .5);

    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;

    --input-color: #495057;
    --input-description: #777;
    --input-placeholder-color: #a0a4a9;
    --input-disabled-bg: #e9ecef;
    --input-disabled-color: #6c757d;
    --input-background-color: #4b5156;

    --input-border-color: #ced4da;
    --input-focus-border-color: #80bdff;
    --input-focus-box-shadow: rgba(0, 123, 255, .25);
    --input-border-radius: 0.25rem;

    --table-th-color: var(--text-color);
    --table-td-color: #555;
    --table-a-color: var(--link-color);
    --table-font-size: 1rem;
}
